body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color:#b7b7b7;;
    text-align: center;
    box-sizing: border-box;
    font-weight: lighter;
}
.main{
    background: black;
    padding: 40px 20px;
}
/* heading */
h1{
    font-size: 48px;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;

}
.nav-item.dropdown:hover .dropdown-menu{
    display: block;
}
p{
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 3px;
}
.container{
    margin: auto;
    margin-top: 120px;
}
.container p{
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.6px;
}
/* icons */
.fa-brands{
    cursor: pointer;
    color: white;
    font-size:x-large;
    margin-left: 6rem;
    margin-top: 7em;
}
/* footer */
.footer-1{
    font-size: 13px
}
.footer{
    font-size: 13px;
}
.footer:hover{
    color:rgb(177, 27, 19);
    cursor: pointer;
    transition: 1s;
}